<div class="side-bar-top">
  <div class="name-text">
    <a href="#">hazuki</a>
  </div>
  <div class="create-room">
    <a href="#">チャットを作成する</a>
  </div>
</div>

<div class="side-main">
  <div class="chat">
    <div class="chat-room">
      <a href="#">techroom1</a>
    </div>
  </div>
  <div class="chat">
    <div class="chat-room">
      <a href="#">techroom2</a>
    </div>
  </div>
</div>